<nav class="navbar custom-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand"href="#">
        <div>
          <img class='nav-logo' src="assets/images/DAlogo_logo.png" alt="">
          <h4 class='nav-logo-text'>DREAM.ACTION</h4>  
        </div>
      </a>
      <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="collapse-icon glyphicon glyphicon-th-large"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://blog.dreamaction.co">Blog</a></li>
        <li><a href="http://blog.dreamaction.co/aboutme/">About</a></li>
      </ul>
    </div><!-- .navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
