.custom-navbar {
	
	z-index: 20;
	a,li {
		color: white;
		font-family: 'Arimo', sans-serif;
	}
}


.nav-logo {
	display: inline;
	height: 65px;
	position: relative;
	top: -17px;
}

.nav-logo-text {
	padding-left: 2px;
	display: inline;
	position: relative;
	top: -19px;
}

.collapse-icon {
	font-size: 30px;
}
.navbar-collapse {
	text-align: center;
	ul {
		background-color: black;
	}
}
.navbar-right {
	position: relative;
	top: 6px !important;

	a:hover {
		color: black !important;
	}
}

.icon-bar {
	color:white;
}



@media (max-width: 767px) {
  .navbar-nav {
      a {
				margin: 5px !important;
				background-color: #6C6C6C !important;
				// border: red solid 1px !important;
      }
  }
}