<div class="container-fluid main-container">
  
  <div class="row main-row">
    <!-- Nav Bar -->
    <acme-navbar></acme-navbar>

    <div class='col-md-12 question-col text-center'>
    
      <h1 class='animated main-question-title'>เคยมีคำถามเหล่านี้ในใจไหม?</h1>

      <acme-malarkey extra-values="[
        'ทำพอร์ทยังไงให้น่าสนใจและเจ๋ง', 
        'เตรียมตัวสมัครงานยังไงให้ได้งานที่อยากได้',
        'สถาปนิกในแต่ละประเทศทำงานต่างกันยังไง'
        ]"></acme-malarkey>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <h4>สมัครสมาชิกด้านล่างสิ ทุกๆ 2 วัน น้องๆจะได้รับเคล็ดลับ เกล็ด แบบเผยทุกวิธีที่จะทำให้น้องๆเก่งขึ้นและทำให้น้องๆประสบความสำเร็จในวิชาชีพที่น้อง ๆ วาดฝันไว้</h4>
        </div>
      
        <div class='col-md-6 col-md-offset-3'>
          <form name="MailchimpSubscriptionForm" ng-controller="MailchimpSubscriptionCtrl">
            <div ng-hide="mailchimp.result === 'success'">
              <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='trektonic'">
              <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us9'">
              <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='b1987670b8f559efd418e7d79'">
              <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='36c38f0ba3'">

              <input type="email" name="email" class="form-control" ng-model="mailchimp.EMAIL" placeholder="Email address" required>
              <button class="btn btn-success btn-block" ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)">สมัครสมาชิก</button>
            </div>
            
            <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
            <div class='show-result show-error' ng-show="mailchimp.result === 'error'" ng-cloak>
              <span ng-bind-html="mailchimp.errorMessage"></span>
            </div>


            <!-- Show success message if MailChimp returned successfully. -->
            <div class='show-result show-success' ng-show="mailchimp.result === 'success'" ng-cloak>
              <span ng-bind-html="mailchimp.successMessage"></span>
            </div>  

          </form>
        </div>
      </div>

      <p>** สมัครสมาชิกวันนี้รับ Portfolio guideline ฟรี!!</p>
      <!-- <img src="http://placehold.it/350x150" alt=""> -->
    </div>
  </div>
  <div class="row reason-row">
    <div class='col col-sm-12'>
      <h1 class='text-center row-title'>ทำไมต้อง Dream Action ?</h1>  
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class="text-center">
        <div >
          <img src="assets/images/reason/360what-01.png" alt="" class='img-responsive'>  
        </div>
        
        <div class="caption">
          <p>
            Dream.Action เป็นบล๊อคที่ สร้างมาเพื่อเป็นแหล่งข้อมูลที่ ช่วยแนะนำและสนับสนุนพลังความฝัน ของนักออกแบบที่กำลังวางแผนอาชีพ และ หางานในสายสถาปัตกรรม
          </p>

        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class="text-center">
        <img src="assets/images/reason/360WHO-01.png" alt="" class='img-responsive'>
        <div class="caption">
          <p>
            blogนี้เหมาะสำหรับ สถาปนิกรุ่นใหม่ หรือ นักออกแบบจบใหม่ ที่กำลังจะเรียนจบออกไปทำงานสายนี้ หรือ กำลังจะเปลี่ยนงานใหม่
          </p>
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class="text-center">
        <img src="assets/images/reason/360HOW-01.png" alt="" class='img-responsive'>
        <div class="caption">
          <p>
            โดยการรวมรวมแนวทาง และ คำแนะนำในการวางแผนสมัครงาน วางแผนอาชีพในสายออกแบบ เกร็ดความรู้เกี่ยวกับการทำงานสถาปัตย์ในที่ต่างๆ สิ่งที่อยากบอก คือ อยากบอกว่าเราทุกคน มีดี มีพลัง และหากเราอยากจะทำ เราดึงศักยภาพของเราออกมาได้ เราสามารถไปในที่ที่เราอยากไปได้อย่างไม่มีที่สิ้นสุด
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row text-center highlight-row'>
    <div  class='col col-md-12'>
      <img class="img-circle" src="assets/images/highlights/1IDEA.png" alt="">
      <img class="img-circle" src="assets/images/highlights/2skillreferenceDSGN.png" alt="">
      <img class="img-circle" src="assets/images/highlights/3interview.png" alt="">
      <img class="img-circle" src="assets/images/highlights/4psd.jpg" alt="">
      <img class="img-circle" src="assets/images/highlights/5AI.jpg" alt="">
      <img class="img-circle" src="assets/images/highlights/6ID.jpg" alt="">
      <img class="img-circle" src="assets/images/highlights/7skillreferenceCAD.png" alt="">
      <img class="img-circle" src="assets/images/highlights/8skillreferenceCIVIL3D.png" alt="">
      <img class="img-circle" src="assets/images/highlights/9skillreferenceMAX.png" alt="">
    </div>
    <div class='col col-md-12'>
      <h5>เกร็ดความรู้ และทักษะที่จะนำเสนอในบล็อคนี้</h5>
    </div>
  </div>
  <div class='row jomself-row'>
    <div class="col col-md-4">
      <img class="img-responsive" ng-src="assets/images/jom/jomphoto4.jpg" alt="">
    </div>
    <div class="col col-md-4 col-sm-offset-2">
      <h1>Jom</h1>
      <h2>asdfjafasldjflsakdfjlk</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repellendus nihil dolores, numquam facere saepe ipsam nam quibusdam quod vero impedit error iste magni. Tempora deserunt doloremque debitis quibusdam aperiam!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repellendus nihil dolores, numquam facere saepe ipsam nam quibusdam quod vero impedit error iste magni. Tempora deserunt doloremque debitis quibusdam aperiam!
      </p>
    </div>
  </div>
  <div class="row testimonial-row">
    <h1 class='text-center row-title'>คำนิยม</h1>
    <div class="col-sm-6 col-md-3 text-center">
      <div>
        <img class="img-circle" ng-src="assets/images/jj.jpg" alt="">
      </div>
      
      <img class="company-logo" ng-src="assets/images/logolllust3_home.jpg" alt="">
      <div class="caption">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci veritatis quo accusantium! Labore doloribus architecto quae reiciendis tempora nemo perferendis, similique, quidem aliquam ut neque ipsa molestiae magni incidunt vitae</p>
        <h4>Author Somethingsomething</h4>
        <p>position</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
      <div>
        <img class="img-circle" ng-src="assets/images/jj.jpg" alt="">
      </div>
      
      <img class="company-logo" ng-src="assets/images/logolllust3_home.jpg" alt="">
      
      <div class="caption">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci veritatis quo accusantium! Labore doloribus architecto quae reiciendis tempora nemo perferendis, similique, quidem aliquam ut neque ipsa molestiae magni incidunt vitae</p>
        <h4>Author Somethingsomething</h4>
        <p>position</p>
        
      </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
      <div>
        <img class="img-circle" ng-src="assets/images/jj.jpg" alt="">
      </div>
      <img class="company-logo" ng-src="assets/images/logolllust3_home.jpg" alt="">
      <div class="caption">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci veritatis quo accusantium! Labore doloribus architecto quae reiciendis tempora nemo perferendis, similique, quidem aliquam ut neque ipsa molestiae magni incidunt vitae</p>
        <h4>Author Somethingsomething</h4>
        <p>position</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
      <div>
        <img class="img-circle" ng-src="assets/images/jj.jpg" alt="">
      </div>
      <img class="company-logo" ng-src="assets/images/logolllust3_home.jpg" alt="">
      <div class="caption">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci veritatis quo accusantium! Labore doloribus architecto quae reiciendis tempora nemo perferendis, similique, quidem aliquam ut neque ipsa molestiae magni incidunt vitae</p>
        <h4>Author Somethingsomething</h4>
        <p>position</p>
      </div>
    </div>
  </div>

  <div class='row slideshow-row'>
    <div class='col-sm-8 col-xs-12 col-sm-offset-2 subscribe-box text-center'>
      <!-- <img  src="http://placehold.it/350x150" alt=""> -->
      <h2>อย่ารอช้า สมัครเลย !!</h2>
      <form name="MailchimpSubscriptionForm" ng-controller="MailchimpSubscriptionCtrl">
        <div ng-hide="mailchimp.result === 'success'">
          <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='trektonic'">
          <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us9'">
          <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='b1987670b8f559efd418e7d79'">
          <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='36c38f0ba3'">

          <input type="email" name="email" class="form-control" ng-model="mailchimp.EMAIL" placeholder="Email address" required>
          <button class="btn btn-success btn-block" ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)">สมัครสมาชิก</button>
        </div>

        <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
        <div ng-show="mailchimp.result === 'error'" ng-cloak>
          <span ng-bind-html="mailchimp.errorMessage"></span>
        </div>

        <!-- Show success message if MailChimp returned successfully. -->
        <div ng-show="mailchimp.result === 'success'" ng-cloak>
          <span ng-bind-html="mailchimp.successMessage"></span>
        </div>
      </form>

      <p>** สมัครสมาชิกวันนี้รับ Portfolio guideline ฟรี!!</p>
      <!-- <img src="http://placehold.it/350x150" alt=""> -->
    </div>
    
  </div>
  <!-- Footer -->
  <div class='row footer'>
    <div class='text-center'>
      <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><small>e-mail</small></a>  
      |
      <a href="http://facebook.com/thedreamaction" target="_top"><small>facebook</small></a>  
      |
      <a href="http://blog.dreamaction.co" target="_top"><small>blog</small></a>  
      |
      <a href="http://blog.dreamaction.co/aboutme/" target="_top"><small>about</small></a>  
    </div>
    
    <!-- <acme-navbar></acme-navbar>     -->
    
  </div>
  <div class='row text-center copyright'>
    <div class='col-md-12 text-center'>
      
      <img src="assets/images/DAlogo_logo.png" alt="">
    </div>
    <div class='col-md-12 text-center'>

      <p><small>DREAM.ACTION © 2015</small></p>
    </div>
  </div>

</div>
