<div class="container-fluid main-container">
  
  <div class="row main-row">
    <!-- Nav Bar -->
    <div class='col-md-12'>
      <acme-navbar></acme-navbar>  
    </div>
    

    <div class='col-md-12 question-col text-center'>
      <h1 class='animated main-question-title'>
        เคยสงสัยมั้ยว่า
      </h1>

      <acme-malarkey extra-values="[
        'ทำพอร์ทยังไงให้เจ๋ง โดนใจ ได้งานชัวร์?', 
        'เตรียมตัวสมัครงานยังไงให้ได้งานที่ฝัน?',
        'เรียนจบละ ไงต่อดี?', 
        'ทำงานสถาปัตย์ในแต่ละประเทศ..ต่างกันยังไง?'
        ]" class='animated main-question-title'></acme-malarkey>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2 wow fadeIn'>
          <h4>
            สมัครสมาชิก พร้อมรับเคล็ดลับในการพัฒนาฝีมือ มุ่งหน้าสู่ความสำเร็จตามความฝันในวิชาชีพออกแบบ และ อัพเดทแรงบันดาลใจรายสัปดาห์ ..แบบฟรี!! ไม่คิดตังค์ แค่อยากให้คุณกล้าฝัน และคว้ามัน 
          </h4>
        </div>
      
        <div class='col-md-6 col-md-offset-3'>
          <div id="mlb2-1496821" class="ml-subscribe-form">
            <div class="ml-vertical-align-center">
                <div class="subscribe-form ml-block-success" style="display:none">
                    <div class="form-section show-result show-success  wow fadeIn">
                        <h4>
                        Almost finished... We need to confirm your email address. To complete the subscription process, please click the link in the email we just sent you.
                        </h4>
                    </div>
                </div>
                <form class="ml-block-form" action="//app.mailerlite.com/webforms/submit/e9p3m6" data-code="e9p3m6" method="POST" target="_blank">
                    <div class="subscribe-form wow fadeInUp">
                        <div class="form-section">
                            <div class="form-group ml-field-email ml-validate-required ml-validate-email">
                                <input type="email" name="fields[email]" class="form-control text-center input-lg" placeholder="Email address" value="">
                            </div>
                        </div>
                        <input type="hidden" name="ml-submit" value="1" />
                        <button type="submit" class="primary gradient-on btn btn-success btn-block btn-lg">
                            สมัครสมาชิก
                        </button>
                        <button disabled="disabled" style="display: none;" type="submit" class="loading gradient-on btn btn-success btn-block btn-lg">
                            <img src="//static1.mailerlite.com/images/rolling.gif" width="20" height="20">
                        </button>
                        <p>** สมัครสมาชิกวันนี้ รับ ชุดคิท สำหรับทำพอร์ทโฟลิโอนักออกแบบ (Portfolio Tools Kit for Designer!) ฟรี!!</p>
                        <img src="assets/images/kit/kitgraphic.png" alt="">
                    </div>
                </form>
                <script>
                    function ml_webform_success_1496821() {
                        jQuery('#mlb2-1496821').find('.ml-block-success').show();
                        jQuery('#mlb2-1496821').find('.ml-block-form').hide();
                    };
                </script>
            </div>
        </div>
        <script type="text/javascript" src="//static1.mailerlite.com/js/w/webforms.js?v21"></script>




          <!-- <form name="MailchimpSubscriptionForm" ng-controller="MailchimpSubscriptionCtrl" class='wow fadeInUp'>
            <div ng-hide="mailchimp.result === 'success'">
              <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='trektonic'">
              <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us9'">
              <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='b1987670b8f559efd418e7d79'">
              <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='36c38f0ba3'">
              
              <input type="email" name="email" class="form-control text-center input-lg" ng-model="mailchimp.EMAIL" placeholder="Email address" required>
              <button class="btn btn-success btn-block btn-lg" ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)" analytics-on="click" analytics-event="subscribe">สมัครสมาชิก</button>
            </div>
            
          
            <div class='show-result show-error wow fadeIn' ng-show="mailchimp.result === 'error'" ng-cloak>
              <span ng-bind-html="mailchimp.errorMessage"></span>
            </div>


          
            <div class='show-result show-success wow fadeIn' ng-show="mailchimp.result === 'success'" ng-cloak>
              <span ng-bind-html="mailchimp.successMessage"></span>
            </div>  

          </form> -->
        </div>
      </div>

      
    </div>
  </div>
  <div class="row reason-row">
    <div class='col col-sm-12'>
      <h1 class='text-center row-title wow fadeIn'>ทำไมต้อง DREAM ACTION ?</h1>  
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class='text-center wow bounceInUp' data-wow-delay='0.2s'>
        <div >
          <img src="assets/images/reason/geo-what_SK8.png" alt="" class='img-responsive'>  
        </div>
        
        <div class="caption">
          <p>
            DREAM ACTION เป็นบล๊อคที่ สร้างมาเพื่อ..
          </p>
          <p>
            <span>RESOURCE / SUPPORT</span> เป็นแหล่งข้อมูล ที่แชร์ประสบการณ์ ความรู้ที่ ช่วยสนับสนุนนักออกแบบ 
          </p>
          <p>
            <span>DARE TO DREAM, THAI DESIGNER</span> เติมพลังใจให้กล้าฝัน เพราะเราทำได้ มา! ไปด้วยกัน!! <span>LET’S GO!</span>
          </p>

        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class='text-center wow bounceInUp' data-wow-delay='0.3s'>
        <img src="assets/images/reason/geo-who_SK8.png" alt="" class='img-responsive'>
        <div class="caption">
          <p>
            <span>LANDSCAPE / ARCHITECT / DESIGNER</span> เหมาะกับ สถาปนิก และ นักออกแบบรุ่นใหม่  
            ADVANCEMENT ที่กำลังจะเรียนจบออกไปทำงานในสาย หาวิธีพัฒนาตัวเองใหม่ๆ หรือ หาแรงบันดาลใจ    
          </p>
          <p>    
            <span> FOR DESIGNER BY DESIGNER </span>
            ถ้าคุณมีความฝัน และอยากทำงานด้านออกแบบ / ภูมิสถาปัตย์ และใกล้เคียง เวบนี้จะเป็นประโยชน์มาก เพราะมันสร้างมา "เพื่อคุณ" จาก นักออกแบบ “แบบคุณ”
          </p>
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class='text-center wow bounceInUp' data-wow-delay='0.4s'>
        <img src="assets/images/reason/geo-how_SK8.png" alt="" class='img-responsive'>
        <div class="caption">
          <p>
            <span>COLLECT/SHARE</span>  รวบรวม และ ส่งต่อ เกร็ดความรู้ ในการสมัครงาน ทักษะที่จำเป็น และ เรื่องในการทำงาน..ที่โรงเรียนออกแบบไม่ได้สอน
          </p>
          <p>
            <span>UNLEASH</span> ดึงศักยภาพในตัวพวกเราออกมา แล้วเราจะสามารถไปในที่ที่เราอยากไปได้อย่างไม่มีที่สิ้นสุด
          </p>
          <p>
            <span>STRATEGIZE</span> สร้างกลยุทธ ในการเดินไปคว้าโอกาส หรือ แม้แต่ รับมือกับการเปลี่ยนแปลงในชีวิตที่กำลังจะก้าวไปสู่บทต่อไป
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row text-center highlight-row'>
    <div  class='col col-md-12'>
      <img class='img-circle wow bounceInUp' data-wow-delay='0.3s' src="assets/images/highlights/1IDEA.png" alt="">
      <img class='img-circle wow bounceInUp' data-wow-delay='0.4s' src="assets/images/highlights/2skillreferenceDSGN.png" alt="">
      <img class='img-circle wow bounceInUp' data-wow-delay='0.5s' src="assets/images/highlights/3interview.png" alt="">
      <img class='img-circle wow bounceInUp' data-wow-delay='0.6s' src="assets/images/highlights/4psd.png" alt="">
      <img class='img-circle wow bounceInUp' data-wow-delay='0.7s' src="assets/images/highlights/5AI.png" alt="">
      <img class='img-circle wow bounceInUp' data-wow-delay='0.8s' src="assets/images/highlights/6ID.png" alt="">
      <img class='img-circle wow bounceInUp' data-wow-delay='0.9s' src="assets/images/highlights/7skillreferenceCAD.png" alt="">
      <img class='img-circle wow bounceInUp' data-wow-delay='1s' src="assets/images/highlights/8skillreferenceCIVIL3D.png" alt="">
      <img class='img-circle wow bounceInUp' data-wow-delay='1.1s' src="assets/images/highlights/9skillreferenceMAX.png" alt="">
    </div>
    <div class='col col-md-12 wow fadeIn'>
      <h5>ทักษะ และเครื่องมือ ที่จะนำเสนอในบล็อคนี้ | SKILLS + TOOLS TO BE DISCUSSED IN THIS BLOG</h5>
    </div>
  </div>
  <div class='row jomself-row'>
    <div class="col col-sm-offset-7 col-sm-5">
      <h1>Jom</h1>
      <h2>จอม เอกพนิฏฐ์ นาคนคร</h2>
      <h3>ภูมิสถาปนิก/นักออกแบบ</h3>
      <p>
        จากเด็กสถาปัตย์ธรรมดาๆ สู่การทำงานในบริษัทแนวหน้าระดับโลก อย่าง ซาซากิ แอสโซชิเอท (Sasaki Associates) และ ดีไซน์ เวิร์คช็อป (Design Workshop) ที่ประเทศสหรัฐ อเมริกามากกว่า 8 ปี จอมอยากจะส่งต่อความฝัน แรงบันดาลใจ ความรู้ ข้อมูล และ ประสบการณ์ที่จะเป็นประโยชน์ต่อนักออกแบบรุ่นใหม่ ให้กล้าเผชิญ และไม่ต้องกลัวที่จะเดินหน้าตามหาฝัน
      </p>
    </div>
  </div>
  <div class="row testimonial-row">
    <h1 class='text-center row-title wow fadeIn'>คำนิยม</h1>
    <div class='col-sm-6 col-md-3 text-center wow bounceInUp' data-wow-delay='0.2s'>
      <div>
        <img class="img-circle" ng-src="assets/images/jj.jpg" alt="">
      </div>
      
      <img class="company-logo" ng-src="assets/images/logolllust3_home.jpg" alt="">
      <div class="caption">
        <h4>ศศิ(มุ่ย) ธนาดีโรจน์กุล</h4>
        <p>Founder & Entrepreneur</p>
        
        <p>
          จอมเป็นคนมีความสามารถ และมีความพยายามมากคนหนึ่ง และเธอยังได้ร่อนพอร์ท จนผ่านไปทำงานกับบริษัทชั้นนำมากมายในอเมริกา ความรู้ของจอมที่อัดแน่นเป็นการส่งต่อความเก่งสู่สาธารณะ...
          <span>read more</span>
        </p>
      </div>
    </div>
   <div class='col-sm-6 col-md-3 text-center wow bounceInUp' data-wow-delay='0.3s'>
      <div>
        <img class="img-circle" ng-src="assets/images/jj.jpg" alt="">
      </div>
      
      <img class="company-logo" ng-src="assets/images/logolllust3_home.jpg" alt="">
      
      <div class="caption">

        <h4>ศศิ(มุ่ย) ธนาดีโรจน์กุล</h4>
        <p>Founder & Entrepreneur</p>
        
        <p>
          จอมเป็นคนมีความสามารถ และมีความพยายามมากคนหนึ่ง และเธอยังได้ร่อนพอร์ท จนผ่านไปทำงานกับบริษัทชั้นนำมากมายในอเมริกา ความรู้ของจอมที่อัดแน่นเป็นการส่งต่อความเก่งสู่สาธารณะ...
          <span>read more</span>
        </p>
        
      </div>
    </div>
    <div class='col-sm-6 col-md-3 text-center wow bounceInUp' data-wow-delay='0.4s'>
      <div>
        <img class="img-circle" ng-src="assets/images/testimonials/mui.jpg" alt="">
      </div>
      <img class="company-logo" ng-src="assets/images/logolllust3_home.jpg" alt="">
      <div class="caption">
        <h4>ศศิ(มุ่ย) ธนาดีโรจน์กุล</h4>
        <p>Founder & Entrepreneur</p>
        
        <p>
          จอมเป็นคนมีความสามารถ และมีความพยายามมากคนหนึ่ง และเธอยังได้ร่อนพอร์ท จนผ่านไปทำงานกับบริษัทชั้นนำมากมายในอเมริกา ความรู้ของจอมที่อัดแน่นเป็นการส่งต่อความเก่งสู่สาธารณะ...
          <span>read more</span>
        </p>
        <!-- <p>
          จอมเป็นคนมีความสามารถ และมีความพยายามมากคนหนึ่ง และเธอยังได้ร่อนพอร์ท จนผ่านไปทำงานกับบริษัทชั้นนำมากมายในอเมริกา ความรู้ของจอมที่อัดแน่นเป็นการส่งต่อความเก่งสู่สาธารณะ วงการออกแบบ นอกจากนี้เธอยังทำงานในประเทศอเมริกา ใช้ชีวิตแบบที่หลายๆคนใฝ่ฝันด้วยเธอจึงสามารถเป็นโค้ชที่ดีได้ ถ้าคุณต้องการตัวอย่าง iron maiden ผู้หญิงตั้งตัวในอเมริกา ทำได้จริงชัวร์ ประสบความสำเร็จจริงให้เห็นในการทำงานบริษัทออกแบบชั้นนำของโลก จอมจะส่งให้คุณสำเร็จไปด้วยกัน

        </p> -->
      </div>
    </div>
    <div class='col-sm-6 col-md-3 text-center wow bounceInUp' data-wow-delay='0.5s'>
      <div>
        <img class="img-circle" ng-src="assets/images/jj.jpg" alt="">
      </div>
      <img class="company-logo" ng-src="assets/images/logolllust3_home.jpg" alt="">
      <div class="caption">
        <h4>ศศิ(มุ่ย) ธนาดีโรจน์กุล</h4>
        <p>Founder & Entrepreneur</p>
        
        <p>
          จอมเป็นคนมีความสามารถ และมีความพยายามมากคนหนึ่ง และเธอยังได้ร่อนพอร์ท จนผ่านไปทำงานกับบริษัทชั้นนำมากมายในอเมริกา ความรู้ของจอมที่อัดแน่นเป็นการส่งต่อความเก่งสู่สาธารณะ...
          <span>read more</span>
        </p>
      </div>
    </div>
  </div>

  <div class='row slideshow-row'>
    <div class='col-sm-8 col-xs-12 col-sm-offset-2 subscribe-box text-center'>
      <h2 class='wow bounceInDown'>
        What are you waiting for? สมัครเลย!
      </h2>
      <div id="mlb2-1496821s" class="ml-subscribe-form">
            <div class="ml-vertical-align-center">
                <div class="subscribe-form ml-block-success" style="display:none">
                    <div class="form-section show-result show-success  wow fadeIn">
                        <h4>
                        Almost finished... We need to confirm your email address. To complete the subscription process, please click the link in the email we just sent you.
                        </h4>
                    </div>
                </div>
                <form class="ml-block-form" action="//app.mailerlite.com/webforms/submit/e9p3m6" data-code="e9p3m6" method="POST" target="_blank">
                    <div class="subscribe-form wow fadeInUp">
                        <div class="form-section">
                            <div class="form-group ml-field-email ml-validate-required ml-validate-email">
                                <input type="email" name="fields[email]" class="form-control text-center input-lg" placeholder="Email address" value="">
                            </div>
                        </div>
                        <input type="hidden" name="ml-submit" value="1" />
                        <button type="submit" class="primary gradient-on btn btn-success btn-block btn-lg">
                            สมัครสมาชิก
                        </button>
                        <button disabled="disabled" style="display: none;" type="submit" class="loading gradient-on btn btn-success btn-block btn-lg">
                            <img src="//static1.mailerlite.com/images/rolling.gif" width="20" height="20">
                        </button>
                        <p>** สมัครสมาชิกวันนี้ รับ ชุดคิท สำหรับทำพอร์ทโฟลิโอนักออกแบบ (Portfolio Tools Kit for Designer!) ฟรี!!</p>
                        <img src="assets/images/kit/kitgraphic.png" alt="">
                    </div>
                </form>
                <script>
                    function ml_webform_success_1496821s() {
                        jQuery('#mlb2-1496821s').find('.ml-block-success').show();
                        jQuery('#mlb2-1496821s').find('.ml-block-form').hide();
                    };
                </script>
            </div>
        </div>
        <script type="text/javascript" src="//static1.mailerlite.com/js/w/webforms.js?v21"></script>
    </div>
    
  </div>
  <!-- Footer -->
  <div class='row footer'>
    <div class='text-center'>
      <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><small>e-mail</small></a>  
      |
      <a href="http://facebook.com/thedreamaction" target="_top"><small>facebook</small></a>  
      |
      <a href="http://blog.dreamaction.co" target="_top"><small>blog</small></a>  
      |
      <a href="http://blog.dreamaction.co/aboutme/" target="_top"><small>about</small></a>  
    </div>
  </div>
  <div class='row text-center copyright'>
    <div class='col-md-12 text-center'>
      
      <img src="assets/images/DAlogo_logo.png" alt="">
    </div>
    <div class='col-md-12 text-center'>

      <p><small>DREAM.ACTION © 2015</small></p>
    </div>
  </div>

</div>
