/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

@font-face{
	font-family: 'rsu regular';
	src: url(../assets/fonts/rsufont/RSU_Regular.ttf);	
} 

@font-face{
	font-family: 'rsu bold';
	src: url(../assets/fonts/rsufont/RSU_BOLD.ttf);	
} 

@font-face{
	font-family: 'rsu light';
	src: url(../assets/fonts/rsufont/RSU_light.ttf);	
} 


html, body {

	width:100%;
	height: 100%;	
	div[ui-view]{
		width:100%;
		height: 100%;
	}
}

.main-row {
	padding-bottom: 30px;
	height:100%;
  min-height:100%;
	background: url('../assets/images/coverbw.jpg') no-repeat center center;
	background-size: cover;
	color: white;
	box-shadow: 0px 9px 22px 3px rgba(0,0,0,0.27);
}

.question-col {
	font-family: 'rsu regular';
	letter-spacing: 5px;	
	h1 {
		font-size: 40px;
	}

	h4 {
		font-family: 'rsu light';
	}
	p { 
		font-family: 'Arimo', sans-serif;
		letter-spacing: 2px;	
	}
}
.reason-row {
	box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,0.75);
	background: url('../assets/images/jom/a3.jpg') no-repeat center center;
	background-size: cover;
	h1, h3, p {
		color: white;
	}
}
.testimonial-row {
	// box-shadow: inset 0px 11px 26px -8px rgba(0,0,0,1);
	padding: 40px;
	.thumbnail {
		background: gray;
	}
	.img-circle {
		width: 100px;
		height: 100px;
		border: lightgray solid 5px;
	}

	.company-logo {
		height: 50px;
	}
	.caption {
		padding-top: 20px;
	}
}

.slideshow-row {
	height: 400px;
	background: url('../assets/images/jom/a4.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	.subscribe-box {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		p {
			color: white;
		}
	}
}
.footer {
	background-color: black;
	color: white;
	padding-top: 14px;
	padding-bottom: 30px;
}

.copyright {
	background-color: black;
	color: lightgray;
	font-size: 12px;
}

