/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

@font-face{
	font-family: 'rsu regular';
	src: url(../assets/fonts/rsufont/RSU_Regular.ttf);	
} 

@font-face{
	font-family: 'rsu bold';
	src: url(../assets/fonts/rsufont/RSU_BOLD.ttf);	
} 

@font-face{
	font-family: 'rsu light';
	src: url(../assets/fonts/rsufont/RSU_light.ttf);	
} 


html, body {

	width:100%;
	height: 100%;	
	div[ui-view]{
		width:100%;
		height: 100%;
	}
}

.main-row {
	// padding-bottom: 30px;
	height:100%;
  min-height:100%;
	background: url('../assets/images/stairs_board.jpg') no-repeat center center;
	background-size: cover;
	color: white;
	box-shadow: 0px 9px 22px 3px rgba(0,0,0,0.27);
}

.question-col {
	background-color: rgba(0,0,0,0.6);
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'rsu regular';
	letter-spacing: 5px;	
	h1 {
		font-size: 40px;
	}

	h4 {
		font-family: 'rsu light';
		line-height: 25px;
	}
	p { 
		padding-top: 2px;
		// font-family: 'Arimo', sans-serif;
		font-family: 'rsu light';
		letter-spacing: 2px;	
	}
	.show-result {
		margin: 10px;
		padding: 10px;
		font-family: 'Arimo', sans-serif;
		letter-spacing: 0px;	
	}
	.show-error {
		background-color: #FF2E42;
		a {
			text-decoration: underline;
			color: #E6E6E6;

		}
	}

	.show-success {
		background-color: #2DBB7F;
	}

}

.form-control {
	margin-bottom: 5px;
}
.reason-row {
	font-family: 'rsu regular';
	background-color: #747474;
	background-size: cover;
	padding: 40px;
	.row-title {
		padding-bottom: 20px;
	}
	h1, h3, p {
		color: white;
	}
	.caption {
		padding-top: 0px;
		// font-size: 17px;
		letter-spacing: 2px;
	}
	.img-responsive {
    margin: 0 auto;
	}
}

.highlight-row {
	
	padding:20px;
	background-color: black;
	color:white;
	.col {
		img {
			padding: 15px;
			width: 100px;
		}
	}
}

.jomself-row {
	background-color: gray;

	img {
		height: 700px;
	}
	h1 {
		font-size: 100px;
		text-transform: uppercase;
	}
	h2 {
		color: blue;
	}
}
.testimonial-row {
	font-family: 'rsu regular';
	// box-shadow: inset 0px 11px 26px -8px rgba(0,0,0,1);
	padding: 20px;
	.row-title {
		padding-bottom: 20px;
	}
	.img-circle {
		width: 100px;
		height: 100px;
		border: lightgray solid 5px;
	}

	.company-logo {
		height: 50px;
	}
	.caption {
		padding-top: 20px;
		font-size: 17px;
		letter-spacing: 2px;
	}
	h4 {
		padding-top: 15px;
	}
	p { 
		// font-family: 'Arimo', sans-serif;
		font-family: 'rsu light';
		letter-spacing: 2px;	
	}
}

.slideshow-row {
	height: 500px;
	box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,0.75);
	background: url('../assets/images/stairs-white_board.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	.subscribe-box {
		background-color: rgba(0,0,0,0.8);
		padding: 20px;
		margin-bottom: 0px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		h2, h4, p {
			color: white;
		}
		h2, h4 {
			font-family: 'rsu regular';
		}
		p { 
			padding-top: 10px;
			// font-family: 'Arimo', sans-serif;
			font-family: 'rsu light';
			letter-spacing: 2px;	
		}
	}
}
.footer {
	background-color: black;
	color: white;
	padding-top: 14px;
	padding-bottom: 30px;
	a {
		color: white;
		font-family: 'Arimo', sans-serif;
	}
}

.copyright {
	background-color: black;
	color: lightgray;
	font-size: 12px;
	img {
		height: 75px;
	}
}

//////////////////////////////
@media screen and (max-width: 768px) {
  .question-col {
  	padding-top: 5px;
  	h1 {
  		font-size: 25px;
  	}
  	h4 {
			font-size: 15px;
		}
  }
}

@media screen and (max-width: 480px) {
  .question-col {
  	padding-top: 10px;
  	h1 {
  		font-size: 20px;
  	}
  	h4 {
			font-size: 15px;
		}
  }
}
