.thankyou-container {
	// height: 100%;
	overflow: hidden;
	font-family: 'rsu regular';
	.main-row {
		min-height:100%;
		height: 100%;

		.main-col {
			background-color: rgba(0,0,0,0.6);
		}
		.col {
			padding: 10px;
		}
		.download {
			color: #EF660A;
			animation: pulse 1s infinite;
		}
		.download:hover, .download:active {
			color: white;
			animation: pulse 0.4s infinite;
		}
		.download-img {
			// padding-top: 10px;
			animation: pulse 1s infinite;
		}
		.download-img:hover {
			animation: pulse 0.4s infinite;
		}

		.img-snapshot {
			padding-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media screen and (max-width: 767px) {
}