<div class="container-fluid thankyou-container">
  
  <div class="row main-row">
    <!-- Nav Bar -->
    <div class='col-md-12'>
      <acme-navbar></acme-navbar>  
    </div>
		<div class='col col-md-12 text-center'>
			<h1>ขอบคุณที่สมัครสมาชิกกับเรา</h1>
			<a href="" class='download'> 
				<h1 class='download'>DOWNLOAD ได้เลย</h2>
			</a>
			<h4>
				ชุดคิท “คว้างาน”ซึ่งเป็นชุดคิทสำหรับเตรียมตัว ประมวลความคิด วางแผน และ ทำพอร์ท Folio เพื่อใช้เตรียมตัวสมัครงาน ในสายงานออกแบบ
			</h4>
			<a href="#" > 
				<img class='download-img' ng-src="assets/images/thankyou/download.png" alt="">
			</a>
			
		</div>
  </div>
 

  <!-- Footer -->
  <div class='row footer'>
    <div class='text-center'>
      <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><small>e-mail</small></a>  
      |
      <a href="http://facebook.com/thedreamaction" target="_top"><small>facebook</small></a>  
      |
      <a href="http://blog.dreamaction.co" target="_top"><small>blog</small></a>  
      |
      <a href="http://blog.dreamaction.co/aboutme/" target="_top"><small>about</small></a>  
    </div>
  </div>
  <div class='row text-center copyright'>
    <div class='col-md-12 text-center'>
      
      <img src="assets/images/DAlogo_logo.png" alt="">
    </div>
    <div class='col-md-12 text-center'>

      <p><small>DREAM.ACTION © 2015</small></p>
    </div>
  </div>

</div>
