<div class="container-fluid thankyou-container">
  
  <div class="row main-row">
    <!-- Nav Bar -->
    <div class='col-md-12'>
      <acme-navbar></acme-navbar>  
    </div>
		<div class='main-col col col-md-12 text-center'>
			<h1>ขอบคุณที่สมัครสมาชิกกับเรา</h1>
			<a href="assets/GetADreamJobToolkit.zip" ng-click='redirect()' class='download'> 
				<h1 class='download'>DOWNLOAD ได้เลย</h1>
			</a>
      <div class='row'>
        <div class='col col-md-4 col-md-offset-4 wow fadeIn'>
          <h4>
            ชุดคิท “คว้างาน” (GET A JOB Toolkit : for Architects and Designers) ซึ่งเป็นชุดคิทสำหรับเตรียมตัว ประมวลความคิด วางแผน เพื่อใช้เตรียมตัวสมัครงาน ในสายงานออกแบบ
          </h4>
        </div>
        <div class='col col-sm-12'>
          <a href="assets/GetADreamJobToolkit.zip" ng-click='redirect()'> 
            <img class='download-img' ng-src="assets/images/thankyou/download.png" alt="Download Get A Job Toolkit" width='225' height='225'>
          </a>
        </div>
        <div class='col col-sm-12 text-center'>
          <a href="assets/GetADreamJobToolkit.zip" ng-click='redirect()'> 
            <img class='img img-responsive img-snapshot' src="assets/images/thankyou/toolkitsnapshot.png" alt="Toolkit Snapshot">
          </a>
        </div>
      </div>
      
			
		</div>
  </div>
 

  <!-- Footer -->
  <div class='row footer'>
    <div class='text-center'>
      <a href="mailto:jom@dreamaction.co" target="_top"><small>e-mail</small></a>  
      |
      <a href="http://facebook.com/godreamaction" target="_top"><small>facebook</small></a>  
      |
      <a href="https://twitter.com/godreamaction" target="_top"><small>twitter</small></a>  
      |
      <a href="http://dreamaction.co" target="_top"><small>blog</small></a>  
      |
      <a href="http://dreamaction.co/aboutme/" target="_top"><small>about</small></a>  
    </div>
  </div>
  <div class='row text-center copyright'>
    <div class='col-md-12 text-center'>
      
      <img src="assets/images/DAlogo_logo.png" alt="">
    </div>
    <div class='col-md-12 text-center'>

      <p><small>DREAM.ACTION © 2015</small></p>
    </div>
  </div>

</div>
