<div class="container-fluid thankyou-container">
  
  <div class="row main-row">
    <!-- Nav Bar -->
    <div class='col-md-12'>
      <acme-navbar></acme-navbar>  
    </div>
		<div class='col-md-12 thankyou text-center'>
			<h1>Thank You</h1>
			<img src="assets/images/kit/kitgraphic.png" alt="">
			
			<h1>Thank You</h1>
			<h1>Thank You</h1>
		</div>
  </div>
 

  <!-- Footer -->
  <div class='row footer'>
    <div class='text-center'>
      <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><small>e-mail</small></a>  
      |
      <a href="http://facebook.com/thedreamaction" target="_top"><small>facebook</small></a>  
      |
      <a href="http://blog.dreamaction.co" target="_top"><small>blog</small></a>  
      |
      <a href="http://blog.dreamaction.co/aboutme/" target="_top"><small>about</small></a>  
    </div>
  </div>
  <div class='row text-center copyright'>
    <div class='col-md-12 text-center'>
      
      <img src="assets/images/DAlogo_logo.png" alt="">
    </div>
    <div class='col-md-12 text-center'>

      <p><small>DREAM.ACTION © 2015</small></p>
    </div>
  </div>

</div>
